<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>noreply@alexn.org</string>
	<key>contactName</key>
	<string>Alexandru Nedelcu</string>
	<key>description</key>
	<string>Integration with the GitLab source code management site.</string>
	<key>name</key>
	<string>GitLab</string>
	<key>uuid</key>
	<string>797204CD-0CDF-40B1-BB64-4F46E0C6B958</string>
</dict>
</plist>
